---
layout: default
---

<div class="home"> 

  <div id="search">
    <form action="#" method="get" class="full-width">
      <input class="full-width center field-light h3" type="text" id="search-query" name="q" placeholder="Search recipes" autocomplete="off">
      {% octicon search height:20 class:"absolute top-0 right-0 p2 mr1" style:"fill:#007fff" %}
    </form>
  </div>
  
  <section id="search-results" style="display:none" class="py2 center">
    <div class="entries px2">
        <p class="h2 blue bold mt3">Enter a search term above, like <em>beef</em>, <em>carrots</em>, or <em>sous vide</em>.</p>
        <p class="sm-col-6 mx-auto">This is a full-text search, so you can search a recipe's title, ingredients, and complete directions.</p> 
    </div>
  </section>
  
  {% raw %}
  <script id="search-results-template" type="text/mustache">
    {{#entries}}
      <article>
        <a href="{{url}}">
          <h1 class="mt3 mb0">
            {{title}}
          </h1>
        </a>
      </article>
    {{/entries}}
  </script>
  {% endraw %}

  <div class="recipes xs-px1 xs-mt2">
    <div class="clearfix">
      {% for post in site.recipes %}
        <div class="sm-col sm-col-6 md-col-6 lg-col-4 xs-px1 xs-mb2">
          <a class="block relative bg-blue" href="{{ post.url | prepend: site.baseurl }}">
            <div class="image ratio bg-cover"{% for image in post.image %} style="background-image:url({{site.baseurl}}/images/medium/{{ image }});"{% endfor %}></div>
            <h1 class="title p2 m0 absolute bold white bottom-0 left-0">{{ post.title }}</h1>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <script src="/js/search.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $('#search-query').lunrSearch({
      indexUrl: '/js/index.json',   // Url for the .json file containing search index data
      results : '#search-results',  // selector for containing search results element
      entries : '.entries',         // selector for search entries containing element (contained within results above)
      template: '#search-results-template'  // selector for Mustache.js template
    });
  </script>

</div>
